



<div class="mat-elevation-z8" #table>


<!-- <input matInput (keyup)="applyFilter($event)" placeholder="eg SearchDept" #input> -->


  <!-- <input (keyup)="applyFilter($event)" style="width:10%;border:2px"placeholder="eg SearchDept" #input type="search" class="form-control rounded" placeholder="Search" 
aria-label="Search" aria-describedby="search-addon" />
<span class="input-group-text border-0" id="search-addon"> -->
 



 
    <table mat-table [dataSource]="dataSource" matSort >
  
     
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef > Project Name </th>
        <td mat-cell *matCellDef="let element"><a matTooltip ="Click Here">{{element.projectName}}</a>  </td>
      </ng-container>
  
   
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef > Department </th>
        <td mat-cell *matCellDef="let element">{{element.department}}</td>
      </ng-container>
  
     
      <ng-container matColumnDef="projectstartDt">
        <th mat-header-cell *matHeaderCellDef> Project Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.projectstartDt}} </td>
      </ng-container>

      <ng-container matColumnDef="projectEnddt">
        <th mat-header-cell *matHeaderCellDef > Project End Date </th>
        <td mat-cell *matCellDef="let element"> {{element.projectEnddt}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
      
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
 