table {
    width: 100%;
    background-color:rgb(241, 240, 238) ;
    border: 2px solid rgb(153, 149, 149);

  }
  td, th {
    text-align: center !important;
    vertical-align: middle !important;
}


th {
    text-align: center !important;
    vertical-align: middle !important;
    font-size: 16px;
    font-weight: bold;
  
}

.mat-sort-header-container {
    justify-content: center !important;
}

.mat-header-cell {
    background: rgb(177, 174, 174);
    padding-left: 10px !important;
}

div {
    display: block;
    margin-bottom: 8px;
    padding: 16px;
    text-align: center;
  }

  .mat-row:hover {
    background-color: rgb(253, 220, 176);
    cursor: pointer;
  }

  .area{

padding:1 rem;
height:250px;
padding-top:10px;
border-style:groove;

  }