<app-topmenu></app-topmenu>
<app-sub-menu></app-sub-menu>
<div class="row">
  <div [style.background-color]="red" (click)="changecolor()" class="column"style="background-color:whitesmoke;border-width: 8px;padding-left:30px;border-style: groove;Border-color: #9cb99c;padding-bottom:10px" ><app-construction></app-construction></div>
  <div [style.background-color]="reds"class="column" (click)="changecolors()"  style="background-color:whitesmoke;border-width: 8px;padding-left:30px;border-style: groove;Border-color: #9cb99c;padding-bottom:10px;  align-items: center;"> <app-mining></app-mining></div>
  <div [style.background-color]="redss" class="column" (click)="changecolorss()"style="background-color:whitesmoke;border-width: 8px;padding-left:30px;border-style: groove;Border-color: #9cb99c;padding-bottom:10px"><app-water-energy></app-water-energy></div>
</div>
<div class="row">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" style="padding-left: 45%">
       {{selectedProject}}
    </a>
  </nav>
</div>
<div class="row">

  <router-outlet></router-outlet>
  <app-grids [item]="selectedProject"></app-grids>

</div>


<app-footerbars></app-footerbars>

<!-- 
  <mat-grid-list cols="1" rowHeight="14:2">
    <mat-grid-tile><app-grids></app-grids></mat-grid-tile>
  
  </mat-grid-list>

  <mat-grid-list cols="25" rowHeight="6:4">
    <mat-grid-tile>4</mat-grid-tile>
  
  </mat-grid-list>
   -->